/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
/* header area css here  */
body{
  max-width: 100%;
  overflow-x: hidden;
}
.container{
	
max-width: 960px;
}





/* header area css end  */

/* slider area start  */

#slider-area .slider-active.owl-carousel .owl-next{
   
right: 19px;
}
#slider-area .slider-active .single-slide{
  
padding: 150px 0px;
}
#slider-area .slider-active .single-slide h4{
   
font-size: 20px;
}
#slider-area .slider-active .single-slide h2{
  
font-size: 49px;
}
#slider-area .slider-active .single-slide a{
	
padding: 15px 30px;
}

#slider-area .owl-carousel .owl-nav div.owl-next {
	
right: 62px;
}
/* slider area end  */

/* project area start  */




/* project area end  */

/* features area start  */

.features-content{
   
height: 250px;
}


/* features area end  */

/* services area start  */
#services-area{
   
padding: 50px 0px 0px 0px;
}

.services-wrapper{
	
margin-top: 50px;
}

/* services area end  */

/* latest project area start  */

#latest-project .project-wrapper{
   
/* width: 25%; */
   
width: 100%;
   
height: 190px;
}

/* latest project area end  */

/* choose us section start  */

#choose-area .video-popup-content{
   
height: 300px;
}
#choose-area .video-popup-content img{
   
height: 100%;
}


/* choose us section end */

/* work with start  */
#work-with{
   
padding: 70px 0px;
}


#work-with .work-wrapper p{
    
margin: 16px 0px;
}
 
/* testimonial area start  */

.testimonial-active.owl-carousel .owl-prev {
  left: 61%;
}
.testimonial-active.owl-carousel .owl-next {
  left: 190%;
}

.testimonial-left .testimonai-left-inner .testimonial-image{
  
height: 123px;
}
.testimonial-left .testimonai-left-inner .testimonial-image img{
    
height: 100%;
}

.testimonial-left .testimonai-left-inner .testimonial-content h4{
  
font-size: 16px;
}
.testimonial-left .testimonai-left-inner .testimonial-content p{
  
line-height: 20px;
  
margin-bottom: 6px;
}
.testimonial-left .testimonai-left-inner .testimonial-content span {
 
font-size: 13px;
}

.testimonial-active  .owl-nav  {
	
right: 47%;
}

.testimonial-active .owl-next{
   
right: 119px;
}

.testimonial-right p{
    
font-size: 15px;
    
line-height: 20px;
    
margin-bottom: -7px;
}


.testimonial-right .testimonial-right-info .right-name h4{
    font-size: 16px;
    line-height: 1;
}

/* testimonial area end */

/* client logo start  */

/* client logo end  */

/* footer area start  */

.footer-inner p{

line-height: 21px;
}

.footer-inner ul  li i{
 
height: 38px;
 
width: 38px;
 
line-height: 37px;
}

.footer-inner2 h2 {
 
font-size: 20px;
}

.footer-inner2 ul li {
  
font-size: 15px;
}


.footer-inner3 h2 {
   
font-size: 20px;
}

.footer-inner3 ul li {

font-size: 15px;
}



.footer-inner4 h2 {
 
font-size: 20px;
}






.copy-right {
  
  overflow: hidden;
}

/* footer area end  */



}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .container{
	
max-width: 720px;
	
}
#mobile-menu ul li{
  margin-left: 23px;
  position: relative;
  display: inline-block;
}


 
  .navbar .collapse .navbar-nav li{
     
margin-left: 28px;
  }
  .navbar .collapse .navbar-nav li a{
      
padding: 15px 0px;
  }
 

  
  
  
  /* header area css end  */
  
  /* slider area start  */

  #slider-area .slider-active .single-slide{
    
padding: 114px 0px;
  }
  #slider-area .slider-active .single-slide h4{
     
font-size: 19px;
  }
  #slider-area .slider-active .single-slide h2{
    
font-size: 50px;
  }

  /* slider area end  */
  
  /* project area start  */

  .project-link{
    
text-align: center;
    
margin-top: 15px;
  }
 
  
  
  /* project area end  */
  
  /* features area start  */

  .features-content{
     
width: 80%;
     
margin: 15px auto;
  }


  /* features area end  */
  
  /* services area start  */
  #services-area{
     
padding: 50px 0px;
  }

  .services-wrapper{
    
margin-top: 40px;
  }

  /* services area end  */
  
  /* latest project area start  */
 
  .project-active{
    
margin: 30px 14px;
  }

  #latest-project .project-wrapper{
     
width: 92%;
  }


  #latest-project .owl-carousel .owl-nav div.owl-next {
  
right: 4px;
  }
 
  /* latest project area end  */
  
  /* choose us section start  */

  #choose-area .video-popup-content{
     
margin-bottom: 36px;
  }

  .video-content{
    text-align: center;
}

  .video-inner {
    
padding: 0px 65px;
  }
  /* choose us section end */
  
  /* work with start  */
  #work-with{
     
padding: 100px 0px;
  }


  /* work with end  */
  /* testimonial area start  */
  #testimonial-area{
  
padding: 40px 0px;
  }
  .testimonial-active{
    margin-bottom: 33px;
}

  
  .testimonial-left .testimonai-left-inner .testimonial-overlay{
   
bottom: -1px;
  }
  
    



   
  /* client logo end  */
  
  /* footer area start  */
  
  .footer-inner{
    margin-bottom: 120px;
}

  



}

 
/* small mobile :320px. */
@media (max-width: 575px) {




  .mean-container a.meanmenu-reveal span {
    
    height: 3px;
    margin-top: 5px;
}
  .mean-container a.meanmenu-reveal{
    top: 4px;
    padding: 4px 8px 8px 8px;
  }
  .mean-container a.meanclose{
    top: 7px;
    right: 1px;
  }
  .mobile-menu.mean-container {
    width: 100%;
  }

  

 

  
  /* header area css end  */
  
  /* slider area start  */
 
  #slider-area .slider-active .single-slide{
    
padding: 87px 0px;
  }
  #slider-area .slider-active .single-slide h4{
     
font-size: 18px;
  }
  #slider-area .slider-active .single-slide h2{
    
font-size: 30px;
  }
  #slider-area .slider-active .single-slide a{
    
padding: 10px 16px;
  }

  /* slider area end  */
  
  /* project area start  */
 
  .project-content{
    
text-align: center;
  }
  .project-content p{
  
font-size: 13px;
  }
  
  .project-link{
    
text-align: center;
    
margin-top: 19px;
  }

  
  
  /* project area end  */
  
  /* features area start  */
 
  .features-content{
     
margin-bottom: 25px;
  }

 
  /* features area end  */
  
  /* services area start  */
 

  #services-area .services-content{
    
flex-direction: column;
    
/* text-align: center; */
    
align-items: center;
    
text-align: center;
  }

  #services-area .services-content .services-text{
     
margin-top: 24px;
  }

  /* services area end  */
  
  /* latest project area start  */
 
  #latest-project .project-wrapper{
     
width: 90%;
     
margin: auto;
  }

 
  /* latest project area end  */
  
  /* choose us section start  */
 

  .video-content{
    text-align: center;
}

  .video-inner {
    
padding: 25px 20px;
  }
  /* choose us section end */
  
  /* work with start  */
  #work-with{
     
padding: 70px 22px;
  }

 
 
 
  .testimonial-left .services-head{
  
text-align: center;
  }

  .testimonial-left .testimonai-left-inner{
    
display: flex;
    
flex-direction: column;
    
text-align: center;
    
/* width: 91%; */
    
margin: 10px auto;
  }
  .testimonial-left .testimonai-left-inner .testimonial-image{
  width: 80%;
  margin: auto;
  }

  .testimonial-left .testimonai-left-inner .testimonial-content{
    
/* margin-top: 34px; */
    
text-align: center;
    
margin: 41px auto;
  }

 
  .testimonial-right{
    text-align: center;
}
  .testimonial-right .services-head{
   
text-align: center;
  }

  .testimonial-right .testimonial-right-info{
     
flex-direction: column;
  }
  .testimonial-right .testimonial-right-info .right-image{
     
margin: auto;
  }
 
  .testimonial-right .testimonial-right-info .right-name{
      
margin-top: 16px;
  }

  /* client logo end  */
  
  /* footer area start  */
 
  .footer-inner{
    text-align: center;
    margin-bottom: 108px;
}
 
  .footer-inner ul {
    width: 50%;
    margin: auto;
}
  .footer-inner ul  li{
    
margin-right: 5px;
  }

  .footer-inner2 h2 {
   
text-align: center;
  }
  
 
  
  .footer-inner2 ul {
    
width: 28%;
    
margin: 21px auto;
  }

  .footer-inner3 h2 {
     
text-align: center;
  }
  

  
  .footer-inner3 ul {
     
width: 50%;
     
margin: 29px auto 0px auto;
  }
  
  .footer-inner4 h2 {
   
text-align: center;
   
margin-top: 18px;
  }
  
  .footer-inner4 p {
   
text-align: center;
  }
  

  .footer-contact {
    text-align: center;
}
 
 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mean-container a.meanmenu-reveal span {
    
    height: 3px;
    margin-top: 5px;
}
  .mean-container a.meanmenu-reveal{
    top: 4px;
    padding: 4px 8px 8px 8px;
  }
  .mean-container a.meanclose{
    top: 7px;
    right: 1px;
  }
  .mobile-menu.mean-container {
    width: 100%;
  }


  


  
  /* header area css end  */
  
  /* slider area start  */

  .slider-active.owl-carousel .owl-nav {
    display: none;
}
  #slider-area .slider-active .single-slide{
    
padding: 100px;
  }
  #slider-area .slider-active .single-slide h4{
     
font-size: 15px;
  }
  #slider-area .slider-active .single-slide h2{
    
font-size: 38px;
  }
  #slider-area .slider-active .single-slide a{
    
padding: 10px 19px;
  }
 
  /* slider area end  */
  
  /* project area start  */
 
  .project-content{
    
text-align: center;
  }
 
  .project-link{
    
text-align: center;
    
margin-top: 13px;
  }
  .project-link a{
   
  }
  
  
  /* project area end  */
  
  /* features area start  */
 
  .features-content{
     
width: 80%;
     
margin: 10px auto;
  }
 

  #services-area .services-content{
    
flex-direction: column;
    
align-items: center;
  }

  #services-area .services-content .services-text{
     
text-align: center;
     
margin-top: 18px;
  }

  /* services area end  */
  
  /* latest project area start  */

  #latest-project .project-wrapper{
     
width: 70%;
     
margin: auto;
  }

  /* latest project area end  */
  
  /* choose us section start  */

 
  .video-inner {
    
padding: 0px 36px;
    
text-align: center;
    
margin-top: 30px;
  }
  /* choose us section end */
  
  /* work with start  */
  #work-with{
     
padding: 100px 0px;
  }

 
  /* work with end  */
  /* testimonial area start  */
 
  .testimonial-left .testimonai-left-inner{
    
margin-bottom: 30px;
  }


  /* testimonial area end */
  
 
  
  /* footer area start  */
  
  .footer-inner{
    text-align: center;
    margin-bottom: 108px;
}

  .footer-inner ul {
    width: 50%;
    margin: auto;
}

  .footer-inner2 h2 {
   
text-align: center;
  }
  
  
  
  .footer-inner2 ul {
    
width: 28%;
    
margin: 21px auto;
  }

  .footer-inner3 h2 {
     
text-align: center;
  }
  
  .footer-inner3 ul li {
  
  }
  
  .footer-inner3 ul {
     
width: 50%;
     
margin: 29px auto 0px auto;
  }
  
  .footer-inner4 h2 {
   
text-align: center;
   
margin-top: 18px;
  }
  
  .footer-inner4 p {
   
text-align: center;
  }
  

  .footer-contact {
    text-align: center;
}
 
 
}

